.list-container {
  display: flex;
  gap: 1rem;
}

.brand-list, .product-list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem;
}

.brand-list {
  flex: 2;
}

.product-list {
  flex: 3;
}

.brand-li, .product-list li {
  justify-content: space-between;
}

.brand-li {
  display: none;
}

.product-list li {
  display: flex;
}

.icon-container {
  display: flex;
  gap: .5rem;

}

.icon-container button {
  width: 2rem;
  height: 2rem; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-brand-form, .update-brand-form {
  display: flex;
  gap: .5rem;
}

.update-brand-form {
  width: 100%;
}

.create-brand-btn, .create-brand-form {
  display: none;
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  outline: none;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.create-product-form, .update-product-form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem 0;
}

.update-brand-li {
  display: none;
}

.is-active {
  display: flex;
}

button {
  background-color: transparent;
  border: 1px solid var(--pri-color);
  padding: .5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all .3s ease-out;
  font-size: 1rem;
}

button:hover {
  background-color: var(--pri-color);
  color: white;
}

input, textarea, select {
  border: 1px solid #ccc;
  padding: .5rem;
  font-size: 1rem;
  border-radius: 8px;
  min-width: 0;
}

.create-brand-form input, .update-brand-form input {
  flex: 1;
}

.close-dialog-form, .close-dialog-form button {
  width: 100%;
}

@media  (max-width: 768px) {
  .list-container {
    flex-direction: column;
  }
}