.list-container {
  display: flex;
  gap: 1rem;
}

.brand-list, .product-list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem;
}

.brand-list {
  flex: 1;
}

.product-list {
  flex: 2;
}

.brand-list li, .product-list li {
  display: flex;
  justify-content: space-between;
}

.submit-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}


.create-brand-btn, .create-brand-form {
  display: none;
}

.is-active {
  display: flex;
}