.header-nav {
  background-color: var(--pri-color);
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.header-top {
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: calc(100% - 1rem);
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  flex: 1;
  gap: .5rem;
  padding: 0 1rem;
}

.search-bar {
  background-color: transparent;
  border: 1px solid #f0f0f0;
  outline: none;
  padding: .5rem;
  min-width:0;
  max-width: 400px;
  flex: 1;
  border-radius: 8px;
  color: #f0f0f0;
}

.search-bar::placeholder {
  color: #f0f0f0;
}

.icon-btn {
  background-color: transparent;
  border: none;
  padding: .5rem;
  border-radius: 8px;
  color: #f0f0f0;
  cursor: pointer;
  transition: all .3s ease-out;
  border: 1px solid #f0f0f0;
}

.icon-btn:hover {
  background-color: #f0f0f0;
  color: var(--pri-color);
}


.header-links {
  display: flex;
  justify-content: stretch;
  align-items: center;
  list-style-type: none;
  max-width: 1200px;
  width: 100%;
}

.header-links li {
  padding: .5rem 0;
  font-size: 1.25rem;
  flex: 1;
  text-align: center;
  transition: all .3s ease-out;
  cursor: pointer;
  user-select: none;
  --webkit-user-select: none; 
}

.header-links li:hover {
  background-color: var(--pri-hover-color);
}

.user {
  display: flex;
  position: relative;
  gap: .5rem;
}

.dropdown {
  position: absolute;
  top: 120%;
  right: 0;
  background-color: var(--pri-color);
  border: 1px solid #f0f0f0;
  padding: .5rem;
  display: none;
  flex-direction: column;
  gap: .5rem;
  border-radius: 8px;
  width: 120px;
}

.dropdown form {
  width: 100%;
}

.dropdown form button {
  width: 100%;
}

.mobile-search {
  display: none;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 600px) {
  .search {
    display: none;
  }
  
  .mobile-search {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: .5rem;
    padding: 0 .5rem;
    padding-bottom: .5rem;
  }

  .mobile-search input {
    max-width: 100%;
  }

  .header-links {
    display: none;
    flex-direction: column;
  }
  
  .header-links li {
    width: 100%;
  }

  .hamburger {
    display: flex;
    padding: .5rem;
    cursor: pointer;
  }
}

a {
  text-decoration: none;
}

.is-active {
  display: flex;
}
